.footer {
  max-width: 100%;
  margin: 0px auto 0;
  padding: 30px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.9rem;
  color: var(--muted);
  border-top: 1px solid var(--border);
}

.footer span {
  width: auto;
  flex: 0 0 auto;
  white-space: nowrap;
}
.footer a {
  display: block;
  text-decoration: none;
  color: var(--muted);
}

/* =====================
   MOBILE
===================== */
@media (max-width: 720px) {
  .buttons {
    flex-direction: column;
    gap: 16px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .footer span {
    white-space: normal;
  }

  .footer a {
    display: block;
    text-decoration: none;
    color: var(--muted);
  }
}
